<!-- 加入收藏 Modal -->
<div class="container">
    <div class="modal add-modal fade" id="add-explore-01-bookmarkModal" tabindex="-1" aria-labelledby="explore-01-bookmarkModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered bookmark-modal-content">
            <div class="modal-content bg-primary-400 border-0 transition-duration-fade bookmark-modal-content">
                <div class="modal-body bg-primary-400 text-center rounded-3">
                    <div>
                        <img src="../assets/icon/Explore-icon/check-circle.svg" alt="check-circle svg">
                    </div>
                    <div>
                        <small class="fs-h4 text-gray-white fw-bold">加入收藏</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>