<!-- 日期 Modal -->
<div class="modal fade" id="modalDatePicker" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content date-table-style position-relative">
        <div class="modal-header d-flex justify-content-between border-bottom-0 pb-0">
          <section class="d-flex align-items-center ps-2">
            <h3 class="modal-title fw-bold text-primary-600 align-center me-2" id="exampleModalLabel">August 2024</h3>
            <a href="#">
                <img class="align-middle" src="../assets/icon/datepicker/chevron-forward.svg" alt="chevron-forward svg">
            </a>
          </section>
          <section class="pe-2">
            <a href="#">
                <img class="me-10" src="../assets/icon/datepicker/chevron-backward-lg.svg" alt="chevron-backward svg">
            </a>
            <a href="#">
                <img src="../assets/icon/datepicker/chevron-forward-lg.svg" alt="chevron-forward svg">
            </a>
          </section>
        </div>
        <div class="modal-body pt-2 pb-2">
           <table class="table text-center table-borderless">
              <thead>
                <tr>
                  <th scope="col">SUN</th>
                  <th scope="col">MON</th>
                  <th scope="col">TUE</th>
                  <th scope="col">WED</th>
                  <th scope="col">THU</th>
                  <th scope="col">FRI</th>
                  <th scope="col">SAT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>12</td>
                  <td>13</td>
                  <td>14</td>
                  <td>15</td>
                  <td>16</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>19</td>
                  <td>20</td>
                  <td>21</td>
                  <td>22</td>
                  <td>23</td>
                  <td>24</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>26</td>
                  <td>27</td>
                  <td>28</td>
                  <td>29</td>
                  <td>30</td>
                  <td>31</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="position-absolute position-control">
          <button type="button" class="btn btn-primary-600 fw-bold w-100 rounded-2" data-bs-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>