<footer class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
<!-- nav-icon-home -->
          <li class="page-item rounded-0"><a class="page-link" href="#"><img src="../assets/icon/Navigation icon/home(state=no).svg" alt="navigation icon-home"></a></li>
<!-- nav-icon-map -->
          <li class="page-item"><a class="page-link" href="#"><img src="../assets/icon/Navigation icon/map (state=no).svg" alt="navigation icon-map"></a></li>
<!-- nav-icon-activity -->
          <li class="page-item"><a class="page-link" href="#"><img src="../assets/icon/Navigation icon/activity(state=no).svg" alt="navigation icon-activity"></a></li>
<!-- nav-icon-notify -->
          <li class="page-item"><a class="page-link" href="#"><img src="../assets/icon/Navigation icon/Notify(state=no).svg" alt="navigation icon-notify"></a></li>
<!-- nav-icon-notify -->
          <li class="page-item"><a class="page-link" href="#"><img src="../assets/icon/Navigation icon/member(state=no).svg" alt="navigation icon-member"></a></li>
        </ul>
      </nav>
</footer>