<footer class="container px-0">
    <nav aria-label="Page navigation example">
        <ul class="item-border pagination justify-content-between pt-3 mb-0">
<!-- nav-icon-home -->
            <li class="nav-item page-item">
                <a class="nav-link page-link d-flex flex-column align-items-center border-0" href="#">
                    <div class="icon-home p-1 mb-1"></div>
                    <span class="icon-desc fs-h7 fw-bold">行程</span>
                </a>
            </li>
<!-- nav-icon-map -->
            <li class="nav-item page-item">
                <a class="nav-link page-link d-flex flex-column align-items-center border-0" href="#">
                    <div class="icon-map p-1 mb-1"></div>
                    <span class="icon-desc fs-h7 fw-bold">地圖</span>
                </a>
            </li>
<!-- nav-icon-activity -->
            <li class="nav-item page-item currentColor">
                <a class="nav-link page-link d-flex flex-column align-items-center border-0" href="#">
                    <div class="icon-activity p-1 mb-1"></div>
                    <span class="icon-desc fs-h7 fw-bold">探索</span>
                </a>
            </li>
<!-- nav-icon-notify -->
            <li class="nav-item page-item">
                <a class="nav-link page-link d-flex flex-column align-items-center border-0" href="#">
                    <div class="icon-notify p-1 mb-1"></div>
                    <span class="icon-desc fs-h7 fw-bold">通知</span>
                </a>
            </li>
<!-- nav-icon-member -->
            <li class="nav-item page-item">
                <a class="nav-link page-link d-flex flex-column align-items-center border-0" href="#">
                    <div class="icon-member p-1 mb-1"></div>
                    <span class="icon-desc fs-h7 fw-bold">會員</span>
                </a>
            </li>
        </ul>
      </nav>
</footer>