<!-- Modal 國家森林區域 (行程頁面用)  -->
<div class="container">
  <div class="modal fade" id="itinerary-modalNationalForestRegion" tabindex="-1" aria-labelledby="itinerary-National-Forest-Region-ModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog modal-dialog-scrollable mx-auto d-flex flex-column h-100 max-width-375px my-0">
        <div class="modal-content modal-h-NationalForestRegion rounded-bottom-0 rounded-top-4 mt-auto h-100">
          <div class="modal-header px-3 py-2 d-flex align-items-center">
            <button class="btn border-0" data-bs-dismiss="modal" type="button"><img src="../assets/icon/icon24px/back.svg" alt="back button"></button>
            <div class="ms-center-menu">
              <h4 class="modal-title text-gray-black fw-bold lh-2" id="exampleModalLabel">選擇 國家森林遊樂區</h4>
            </div>
          </div>
          <div class="modal-body px-0 py-6">
    <!-- 臺灣北部 -->
            <section class="px-6">
              <h5 class="fw-bold mb-2 text-gray-black lh-1-6">台灣北部</h5>
              <div class="d-flex flex-wrap">
                <div class="btn-content mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">滿月圓</a>
                </div>
                <div class="btn-content ms-1 mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">東眼山</a>
                </div>
                <div class="btn-content ms-1 mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">內洞</a>
                </div>
                <div class="btn-content">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">太平山</a>
                </div>
              </div>
            </section>
    <!-- 臺灣中部 -->
            <section class="mt-6 px-6">
              <h5 class="fw-bold mb-2 text-gray-black lh-1-6">台灣中部</h5>
              <div class="d-flex flex-wrap">
                <div class="btn-content mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">觀霧</a>
                </div>
                <div class="btn-content ms-1 mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">大雪山</a>
                </div>
                <div class="btn-content ms-1 mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">武嶺</a>
                </div>
                <div class="btn-content">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">八仙山</a>
                </div>
              </div>
            </section>
    <!-- 臺灣南部 -->
            <section class="mt-6 px-6">
              <h5 class="fw-bold mb-2 text-gray-black lh-1-6">台灣南部</h5>
              <div class="d-flex flex-wrap">
                <div class="btn-content mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">阿里山</a>
                </div>
                <div class="btn-content ms-1 mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">合歡山</a>
                </div>
                <div class="btn-content ms-1 mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">雙流</a>
                </div>
                <div class="btn-content">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">奧萬大</a>
                </div>
                <div class="btn-content ms-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">藤枝</a>
                </div>
                <div class="btn-content ms-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">墾丁</a>
                </div>
              </div>
            </section>
    <!-- 臺灣東部 -->
            <section class="mt-6 px-6">
              <h5 class="fw-bold mb-2 text-gray-black">台灣東部</h5>
              <div class="d-flex flex-wrap">
                <div class="btn-content mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">知本</a>
                </div>
                <div class="btn-content ms-1 mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">富源</a>
                </div>
                <div class="btn-content ms-1 mb-1">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">向陽</a>
                </div>
                <div class="btn-content">
                  <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active mb-1 fs-h5 rounded-pill" href="#" role="button">池南</a>
                </div>
              </div>
            </section>
          </div>
    <!-- 國家森林區域 確定按鈕 -->
          <div class="modal-footer item-border pt-3 pb-2 mt-auto">
            <button class="btn btn-primary-600 fs-h4 fw-bold rounded-2 w-100 mx-6" data-bs-dismiss="modal" type="button">確定
            </button>
          </div>
        </div>
      </div>
  </div>
</div>