<!-- 國家森林區域 Modal -->
<div class="modal fade" id="modalNationalForestRegion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog position-absolute bottom-0 end-0 start-0 modal-dialog-scrollable modal-h-NationalForestRegion">
    <div class="modal-content rounded-bottom-0 rounded-top-4">
      <div class="modal-header px-6 py-2 d-flex align-items-center">
        <a class="btn" href="itinerary.html" role="button"><img src="../assets/icon/icon24px/back.svg" alt="back button"></a>
        <div class="ms-center-menu">
          <h4 class="modal-title text-gray-black fw-bold" id="exampleModalLabel">選擇 國家森林遊樂區</h4>
        </div>
      </div>
      <div class="modal-body">
<!-- 臺灣北部 -->
        <section class="px-6 mb-auto">
          <h5 class="fw-bold mb-2 text-gray-black">台灣北部</h5>
          <div class="row py-2">
            <div class="col-4">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">滿月圓</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">東眼山</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">內洞</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">太平山</a>
            </div>
          </div>
        </section>
<!-- 臺灣中部 -->
        <section class="px-6 mb-auto">
          <h5 class="fw-bold mb-2 text-gray-black">台灣中部</h5>
          <div class="row py-2">
            <div class="col-4">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">觀霧</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">大雪山</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">武嶺</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">八仙山</a>
            </div>
          </div>
        </section>
<!-- 臺灣南部 -->
        <section class="px-6 mb-auto">
          <h5 class="fw-bold mb-2 text-gray-black">台灣南部</h5>
          <div class="row py-2">
            <div class="col-4">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">阿里山</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">合歡山</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">雙流</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">奧萬大</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">藤枝</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">墾丁</a>
            </div>
          </div>
        </section>
<!-- 臺灣東部 -->
        <section class="px-6 mb-auto">
          <h5 class="fw-bold mb-2 text-gray-black">台灣東部</h5>
          <div class="row py-2">
            <div class="col-4">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">知本</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">富源</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">向陽</a>
            </div>
            <div class="col-4 btn-size-auto">
              <a class="btn btn-outline-gray-200 w-100 link-gray-black hover-active-none mb-2 fs-h5" href="#" role="button">池南</a>
            </div>
          </div>
        </section>
      </div>

<!-- 國家森林區域 確定按鈕 -->
      <div class="modal-footer item-border pt-3 pb-2 mt-auto">
        <a class="btn btn-primary-600 fs-h4 fw-bold rounded-2 w-100 mx-6" data-bs-dismiss="modal" role="button">套用
        </a>
      </div>
    </div>
  </div>
</div>