<!-- Modal 交通工具 -->
<div class="modal fade" id="modalTransportation" tabindex="-1" aria-labelledby="Transportation-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content rounded-bottom-0 rounded-top-4">
        <div class="modal-header px-3 py-2 d-flex align-items-center">
          <a class="btn" data-bs-dismiss="modal" role="button"><img src="../assets/icon/icon24px/back.svg" alt="back button"></a>
          <div class="transportation-ms-center-menu">
            <h4 class="modal-title text-gray-black fw-bold" id="exampleModalLabel">選擇 交通工具</h4>
          </div>
        </div>
        <div class="modal-body p-3">
          <section>
            <div class="row py-2">
              <div class="col-4 px-2px">
                <a class="btn btn-outline-gray-200 d-flex align-items-center justify-content-center w-100 link-gray-black hover-active mb-2 fs-h5 rounded-pill" href="#" role="button">
                  <img src="../assets/icon/icon14px/car.svg" alt="car svg">
                  <span class="fs-h5 ms-2">汽車</span>
                </a>
              </div>
              <div class="col-4 px-2px">
                <a class="btn btn-outline-gray-200 d-flex align-items-center justify-content-center w-100 link-gray-black hover-active mb-2 fs-h5 rounded-pill" href="#" role="button">
                  <img src="../assets/icon/icon14px/bus.svg" alt="bus svg">
                  <span class="fs-h5 ms-2">大眾運輸</span>
                </a>
              </div>
              <div class="col-4 px-2px">
                <a class="btn btn-outline-gray-200 d-flex align-items-center justify-content-center w-100 link-gray-black hover-active mb-2 fs-h5 rounded-pill" href="#" role="button">
                  <img src="../assets/icon/icon14px/moped.svg" alt="moped svg">
                  <span class="fs-h5 ms-2">機車</span>
                </a>
              </div>
              <div class="col-4 px-2px">
                <a class="btn btn-outline-gray-200 d-flex align-items-center justify-content-center w-100 link-gray-black hover-active mb-2 fs-h5 rounded-pill" href="#" role="button">
                  <img src="../assets/icon/icon14px/biking.svg" alt="biking svg">
                  <span class="fs-h5 ms-2">腳踏車</span>
                </a>
              </div>
              <div class="col-4 px-2px">
                <a class="btn btn-outline-gray-200 d-flex align-items-center justify-content-center w-100 link-gray-black hover-active mb-2 fs-h5 rounded-pill" href="#" role="button">
                  <img src="../assets/icon/icon14px/walking.svg" alt="walking svg">
                  <span class="fs-h5 ms-2">步行</span>
                </a>
              </div>
            </div>
          </section>
        </div>
<!-- 交通工具 確定按鈕 -->
        <div class="modal-footer item-border pt-3 pb-2 mt-auto">
            <a class="btn btn-primary-600 fs-h4 fw-bold rounded-2 w-100 mx-6" data-bs-dismiss="modal" role="button">確定
            </a>
        </div>