.attractions-html{
    .z-index{
        z-index: 10; 
    }
    .carousel-indicators .active{
        background-color: $secondary-500!important;
    } 
    .badge-outline-style{
        border: 1px solid $primary-600;
    }

    .btn-icon-transform.collapsed{
        img{
            transform: scaleY(-1)!important;
        }
    }
    .border-style{
        border: 0.5px solid $gray-200;
        box-shadow: 0px 4px 20px 0px #00000014;
    }

    .me-26px{
        margin-right: 26px;
    }
    .me-19px{
        margin-right: 19px;
    }
    .w-191px{
        width: 191px;
    }
    .h-212px{
        height: 212px;
    }
    .position-style{
        top: -10px;
        left: 0px;
        right: 0px;
        background-color: #fff;
        box-shadow: 0px 4px 20px 0px #00000014;
    }
    .bg-weather{
        background-color: $primary-600;
        width: 191px;
        height: 212px;
    }

    .weather-info{
        background-image: url("../icon/attractions-icon/weather-info-card.png");
        background-size: contain;
        height: 237px;
        width: 148px;
        z-index: 11;
    }
    .mb-33px{
        margin-bottom: 33px;
    }
    .h-237px{
        height: 237px;
    }
    .weather-tag-space{
        width: 179px;
        height: 110px;
    }
    .overflow-x-scroll{
        overflow-x: scroll;
        &::-webkit-scrollbar {display:none}
    }
    .weather-tag{
        width: 62px !important;
        height: 110px;
    }
    .attractions-bookmark label{
        cursor: pointer;
      }
    .attractions-bookmark input[type="checkbox"]{
        display: none;

      }
    .attractions-bookmark input[type="checkbox"] + label::before{
        content:"";
        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url("../icon/attractions-icon/heart-location.svg");
        background-size: contain;
        margin-right: 5px;
        position: relative;
        top: 2px;    
      }
    .attractions-bookmark input[type="checkbox"]:checked + label::before{
        content:"";
        background-image: url("../icon/attractions-icon/heart-location-check.svg");
    }
}

.bookmark-modal-content{
    width: 138px !important;
    height: 88px;
    margin: 0 auto;
}