.explore{
    .btn-link-style{
        background-color: $gray-white;
        display: block;
        box-shadow: 0px 4px 20px 0px #00000014;
    }
    .w-search{
        width: 84.09%;
    }
    .fw-500{
        font-weight: 500;
    }
    .card-shadow{
        box-shadow: 0px 4px 20px 0px #00000014;
    }
}