.explore-html{
    .bg-box-shadow{
        box-shadow: 0px 4px 20px 0px #00000014;
    }
    .h-80{
        height: 80%;
    }
    .z-index{
        z-index: 10;
    }
    .mt-80px{
        margin-top: 80px;
    }
    .bg-title{
    background-color: #fff;
    padding: 8px 0px 8px 0px;
    }
    .btn-link-style{
        background-color: $gray-white;
        display: block;
        box-shadow: 0px 4px 20px 0px #00000014;
    }
    .w-search{
        width: 351px;
    }
    .fw-500{
        font-weight: 500;
    }
    .decoration-box{
        width: 24px;
        height: 3px;
    }
    .card-shadow{
        box-shadow: 0px 4px 20px 0px #00000014;
    }
    .badge-outline-style{
        border: 1px solid $primary-600;
    }
    .outline-none{
        outline: none !important;
        border: 0px;
        &:focus{
            border: 0px;
            outline: none !important;
        }
    }
    /* 支援Chrome/Opera/Safari */
    .placeholder-style::-webkit-input-placeholder{
        color: $gray-400;
    }
    .placeholder-style::-moz-placeholder { 
        color: $gray-400; /* 支援Firefox 19+ */  
    }
    .placeholder-style::-ms-input-placeholder { 
        color: $gray-400; /* 支援 IE 10+ */
     }
    .placeholder-style::-moz-placeholder { 
        color: $gray-400; /* 支援 Firefox 18- */
     }
    .explore-01-bookmark label, .explore-02-bookmark label{
        cursor: pointer;
      }
    .explore-01-bookmark input[type="checkbox"], .explore-02-bookmark input[type="checkbox"]{
        display: none;

      }
    .explore-01-bookmark input[type="checkbox"] + label::before, .explore-02-bookmark input[type="checkbox"] + label::before{
        content:"";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url("../icon/Explore-icon/heart-no-white.svg");
        background-size: contain;
        margin-right: 5px;
        position: relative;
        top: 2px;    
      }
    .explore-01-bookmark input[type="checkbox"]:checked + label::before, .explore-02-bookmark input[type="checkbox"]:checked + label::before{
        content:"";
        background-image: url("../icon/Explore-icon/heart-yes-white.svg");
    }
    .modal-backdrop{
        opacity: 0 !important;
      }

}

.bookmark-modal-content{
    width: 138px !important;
    height: 88px;
    margin: 0 auto;
}

.filter-modal-content{
    width: 375px !important;
    height: 515px;
    margin: 0 auto;
    border-top: 1px solid $gray-200;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}