.explore{
    .z-index{
        z-index: 10;
    }
    .mt-80px{
        margin-top: 80px;
    }
    .btn-link-style{
        background-color: $gray-white;
        display: block;
        box-shadow: 0px 4px 20px 0px #00000014;
    }
    .w-search{
        width: 351px;
    }
    .fw-500{
        font-weight: 500;
    }
    .card-shadow{
        box-shadow: 0px 4px 20px 0px #00000014;
    }
    .badge-outline-style{
        border: 1px solid $primary-600;
    }
    .outline-none{
        outline: none !important;
        border: 0px;
        &:focus{
            border: 0px;
            outline: none !important;
        }
    }
    /* 支援Chrome/Opera/Safari */
    .placeholder-style::-webkit-input-placeholder{
        color: $gray-400;
    }
    .placeholder-style::-moz-placeholder { 
        color: $gray-400; /* 支援Firefox 19+ */  
    }
    .placeholder-style::-ms-input-placeholder { 
        color: $gray-400; /* 支援 IE 10+ */
     }
    .placeholder-style::-moz-placeholder { 
        color: $gray-400; /* 支援 Firefox 18- */
     }
}