.new-itinerary{
    .ms-center-title{
        margin-left: calc((100% / 2 ) - 90px );
    }
    .ms-center-menu{
        margin-left: calc((100% / 2 ) - 123.62px );
    }

    .bg-itinerary{
        background-image: url(../images/itinerary-Background.png);
        background-size: contain;
    }

    .form-content{
        height: calc(100% - 25%);
    }

    .fw-600{
        font-weight: 600;
    }

    .hover-active{
        &:hover, &:active{
            background-color: $primary-100!important;
            color: $primary-600!important;
            font-weight: bold;
            border: 1px solid $primary-300!important;
        }
    }

    .home-indicator{
        width: 139px;
        height: 5px;
        background-color: #000;
    }

    .item-border{
        border-top: 1px solid $gray-200;
        box-shadow: 0px -4px 20px 0px #00000014;
    }
    .modal-h-NationalForestRegion{
        height: 70%;
    }
}