.new-itinerary-html{
    .bg-box-shadow{
        box-shadow: 0px 4px 20px 0px #00000014;
    }
    .lh-2{
        line-height: 2;
    }
    .px-2px{
        padding-left: 2px;
        padding-right: 2px;
    }
    .ms-center-title{
        margin-left: calc((100% / 2 ) - 90px );
    }
    .ms-center-menu{
        margin-left: calc((100% / 2 ) - 123.62px );
    }
    .transportation-ms-center-menu{
        margin-left: calc((100% / 2 ) - 99.58px );
    }
    .bg-itinerary{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 50%), url(../images/itinerary-Background.png);
        background-size: contain;
    }
    .bg-repeat{
        background-image: url(../images/itinerary-Background-repeat.png);
        background-repeat: repeat-y;
        z-index: 8;
    }
    .bg-content{
        height: 28.325%;
        z-index: 9;
    }
    .form-content{
        height: 75.369%;
        z-index: 10;
    }
    .footer-content{
        z-index: 11;
    }

    .fw-600{
        font-weight: 600;
    }
    .fw-500{
        font-weight: 500;
    }

    .home-indicator{
        width: 139px;
        height: 5px;
        background-color: #000;
    }

    .item-border{
        border-top: 1px solid $gray-200;
        box-shadow: 0px -4px 20px 0px #00000014;
    }
    .w-181px{
        width: 181px;
    }
    .h-43px{
        height: 43px;
    }
    .mb-85px{
        margin-bottom: 85px;
    }
    .overflow-scroll{
        overflow-y: scroll;
    }
    .h-overflow-scroll{
        height: 200px;
        width: 375px;
    }

}

.table-size{
    width: 24px!important;
    height: 24px!important;
}

.date-table-style{
    box-shadow: 0px 10px 60px 0px #0000001A;
    border-radius: 13px;
    max-width: 318px;
    th{
        font-size: 12px;
        color: $gray-200;
    }
    .td-color-none{
        &:hover{
            background: #FFF!important;
            cursor: none !important;
        }
    }
    td{
        font-size: 20px;
        border-radius: 4px;
        cursor: pointer;
        color: $primary-500;
        &:hover{
            background-color: $primary-600;
            color: #FFF;
            font-weight: bold;
        }
    }
}

.position-control{
    text-align: center;
    top: 102%;
    left: 2.5%;
    width: 95%;
}

// 全域樣式
.modal-h-NationalForestRegion{
    height: 70%!important;
}

.hover-active{
    &:hover, &:active{
        background-color: $primary-100!important;
        color: $primary-600!important;
        font-weight: bold!important;
        border: 1px solid $primary-300!important;
    }
}

.ms-center-menu{
    margin-left: calc((100% / 2 ) - 123.62px );
}

.px-2px{
    padding-left: 2px;
    padding-right: 2px;
}
.mt-56px{
    margin-top: 56px;
}