.bgMap{
    background-image: url("../images/map.png");
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom:  57px;
    .form-control{
        width: 275px;
        height: 40px;
    }
    .searchBtn{
        font-size: 14px;
        width: 102px;
        height: 36px;
    }
}
.input-icon {
    width: 20px;
    height: 20px;
    z-index: 100;
    cursor: pointer;
}
/* 搜尋 ICON 永久顯示在左側 */
#searchIcon {
    top: 50%;
    transform: translateY(-50%);
}
//調整placeholder的字體大小
#searchInput::placeholder {
    font-size: 14px;
}
.icon24{
    width: 24px;
    height: 24px;
}
.icon40{
    width: 40px;
    height: 40px;
}
.gps{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultHeader{
    height: 24px;
    width: 100%;
    margin-bottom: 68.67px;
}
.titleHr{
    width: 36px;
    height: 5px;
    border-radius: 100px;
    background-color: $gray-200;
}

.Filter{
    .modal-dialog{
        display: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }
    .col-4 :hover{
    color: $primary-600;
    font-weight: bold;
    background-color: $primary-100;
    border-color: $primary-300;
    }
}

.offcanvas.offcanvas-bottom {
    height: 640px;
}
.offcanvasSearch{
    .offcanvas-header{
        border-bottom: 1px solid $gray-200;
    }
    a.position-absolute{
        top:-9.8px;
    }
    a.gap-1{
        width: 104px;
        height: 46px;
        padding:12px 20px;
    }
    .dot{
        width: 4px;
        height: 4px;
        background-color: $gray-200;
    }
    .img20{
        width: 20px;
        height: 20px;
    }
}
.map-modal-pick-NationalForestRegion{
    .modal-dialog{
        display: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 812px;
    }
}