.member{
    box-shadow: 0px 4px 20px 0px #00000014;
    .fw-500{
        font-weight: 500;
    }
    .fw-600{
        font-weight: 600;
    }
    .mt-180px{
        margin-top: 172px;
    }
    .w-content{
        width: 50%;
    }
    .click-status{
        border-bottom: 3px solid $primary-600;
    }
    .click-status-desc{
        color: $primary-600 !important;
    }
    .radius-top-left, .radius-top-left img{
        border-top-left-radius: 16px;
        height: 70px;
        width: 70px;
    }
    .radius-top-right, .radius-top-right img{
        border-top-right-radius: 16px;
        height: 70px;
        width: 70px;
    }
    .radius-bottom-left, .radius-bottom-left img{
        border-bottom-left-radius: 16px;
        height: 70px;
        width: 70px;
    }
    .radius-bottom-right, .radius-bottom-right img{
        border-bottom-right-radius: 16px;
        height: 70px;
        width: 70px;
    }
    .overflow-x-scroll{
        overflow-x: scroll;
        &::-webkit-scrollbar {display:none}
    }
    .radius-shadows{
        box-shadow: 0px 4px 20px 0px #00000014;
    }
}

.QR-cdoe-html .modal-backdrop{
    background-color: black !important;
    opacity: 1 !important;
  }