.QR-code{
    .QR-content{
        width: 255px;
        height: 510px;
    }
    .fw-600{
        font-weight: 600;
    }
    .ms-54px{
        margin-left: 54px;
    }
    .pt-69px{
        padding-top: 69px;
    }
    .mb-22px{
        margin-bottom: 22px;
    }
    .mb-49px{
        margin-bottom: 49px;
    }
    .w-39px{
        width: 39px;
    }
    .w-32px{
        width: 32px;
    }
    .w-34px{
        width: 34px;
    }
    .w-223px{
        width: 223px;
    }
    .border-bottom-style{
    height: 1px;
    background-image: linear-gradient(to right, $gray-200 0%, $gray-200 50%, transparent 50%);
    background-size: 18.7px 1px;
    background-repeat: repeat-x;
    padding-left: 1px;
    }
    .h-510px{
        height: 510px;
    }
    .bg-primary-600{
        height: 62%;
    }
    .QR-cdoe-circle-left{
        background-color: black;
        width: 42px;
        height: 42px;
        top: -22px;
        left: -32px;
    }
    .QR-cdoe-circle-right{
        background-color: black;
        width: 42px;
        height: 42px;
        top: -22px;
        right: -32px;
    }
    .QR-cdoe-delete{
        background-color: black;
    }
}
