<!DOCTYPE html>
<html lang="zh-Hant" class="explore-html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AAPD</title>

    <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
  </head>
  <body>   
    <div class="explore container d-flex flex-column align-items-center h-100 position-relative bg-box-shadow">
          <div class="container px-0 text-center position-fixed top-0 start-0 end-0 z-index">
            <h4 class="fw-bold mb-4 text-gray-black w-100 bg-title">探索靈感</h4>
            <div class="d-flex justify-content-between align-items-center px-3">
              <div class="w-100">
                  <a class="rounded-pill btn-outline-gray-50 d-block btn-link-style py-2 text-start" href="#">
                      <img class="ms-3" src="../assets/icon/Explore-icon/search-gray-600-18px.svg" alt="search svg">
                      <input type="text" class="text-gray-400 fs-h5 outline-none placeholder-style" placeholder="輸入森林遊樂區"></input> 
                  </a>
              </div>
                <a class="btn p-2 rounded-2 btn-link-style border-0 bg-gray-white ms-3" data-bs-toggle="modal" href="#explore-filterModal" type="button">
                    <img src="../assets/icon/Explore-icon/filter-gray-600-24px.svg" alt="filter svg">
                </a>
            </div>
          </div>
          <main class="w-100 mt-8">
              <div class="card w-100 rounded-4 border-0 card-shadow mb-6 mt-80px" style="width: 18rem;">
                  <div class="position-relative">
                      <div class="d-flex justify-content-between position-absolute top-0 pt-4 px-4 w-100 align-items-center">
                          <h6 class="bg-secondary-500 text-gray-white fw-bold d-inline-block py-1 px-2 rounded-1">三日遊</h6>
  <!-- explore-01-bookmark -->
                            <div class="explore-01-bookmark" id="add-bookmark-01" data-bs-toggle="modal" data-bs-target="#add-explore-01-bookmarkModal">
                                <input type="checkbox" id="explore-01-bookmark-checkbox">
                                <label for="explore-01-bookmark-checkbox">
                                </label>
                            </div> 

                      </div>
                      <a class="w-100 h-100" href="attractions.html">
                        <img src="../assets/images/explore-01.png" class="card-img-top rounded-top-4 w-100 h-100" alt="explore-01 image"></a>
                      <div class="position-absolute bottom-0 pb-4 ps-4">
                          <div class="mb-2">
                              <h3 class="text-gray-white fw-bold">內洞國家森林遊樂區</h3>
                          </div>
                          <div class="d-flex">
                              <img src="../assets/icon/Explore-icon/location-gray-200.svg" alt="location svg">
                              <h6 class="ms-1 text-gray-white fw-500">新北市烏來區</h6>
                          </div>
                      </div>
                  </div>
                  <div class="card-body pt-2">
                    <div class="d-flex justify-content-center mb-3">
                      <div class="bg-secondary-500 decoration-box"></div>
                      <div class="bg-gray-200 border-0 ms-2 decoration-box"></div>
                      <div class="bg-gray-200 border-0 ms-2 decoration-box"></div>
                    </div>
                    <div class="d-flex mb-2">
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">溪流</span>
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">賞蛙</span>
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">蕨類</span>
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">瀑布</span>
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">陰離子</span>
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">杜鵑</span>
                    </div>
                    <div>
                      <img src="../assets/icon/Explore-icon/heart-gray-400-12px.svg" alt="heart svg">
                      <h7 class="fs-h7 text-gray-400 fw-500">271 · 3458 人使用此行程</h7>
                    </div>
                  </div>
              </div>
  <!-- card-2 -->
              <div class="card w-100 rounded-4 border-0 card-shadow mb-20" style="width: 18rem;">
                  <div class="position-relative">
                      <div class="d-flex justify-content-between position-absolute top-0 pt-4 px-4 w-100 align-items-center">
                          <h6 class="bg-secondary-500 text-gray-white fw-bold d-inline-block py-1 px-2 rounded-1">一日遊</h6>
  <!-- bookmark -->
                          <div class="explore-02-bookmark" id="add-bookmark-02" data-bs-toggle="modal" data-bs-target="#add-explore-02-bookmarkModal">
                            <input type="checkbox" id="explore-02-bookmark-checkbox">
                            <label for="explore-02-bookmark-checkbox">
                            </label>
                        </div> 
                      </div>
                      <img src="../assets/images/explore-02.png" class="card-img-top rounded-top-4 w-100 h-100" alt="explore-01 image">
                      <div class="position-absolute bottom-0 pb-4 ps-4">
                        <div class="mb-2">
                            <h3 class="text-gray-white fw-bold">杉林溪森林遊樂區</h3>
                        </div>
                        <div class="d-flex">
                            <img src="../assets/icon/Explore-icon/location-gray-200.svg" alt="location svg">
                            <h6 class="ms-1 text-gray-white fw-500">南投縣竹山鎮</h6>
                        </div>
                      </div>
                  </div>
                  <div class="card-body pt-2">
                    <div class="d-flex justify-content-center mb-3">
                      <div class="bg-secondary-500 decoration-box"></div>
                      <div class="bg-gray-200 border-0 ms-2 decoration-box"></div>
                      <div class="bg-gray-200 border-0 ms-2 decoration-box"></div>
                    </div>
                    <div class="d-flex mb-2 align-items-center">
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">杉林溪</span>
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">森林浴</span>
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">健行步道</span>
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">生態觀察</span>
                      <span class="badge badge-outline-style rounded-pill fs-h7 py-1 px-2 fw-500 ms-1 text-primary-600">自然景觀</span>
                    </div>
                    <div>
                      <img src="../assets/icon/Explore-icon/heart-gray-400-12px.svg" alt="heart svg">
                      <h7 class="fs-h7 text-gray-400 fw-500">693 · 8437 人使用此行程</h7>
                    </div>
                  </div>
              </div>
          </main>
  <!-- footer -->
          <div class="position-fixed bottom-0 start-0 end-0 bg-gray-white">
            <%- include('./layout/footer',{page:"explore"}); -%>
          </div>
    </div>

  <!-- 加入收藏 Modal -->
    <div>
      <%- include('./layout/add-bookmark'); -%>
    </div>
  <!-- 刪除收藏 Modal -->
    <div>
      <%- include('./layout/del-bookmark'); -%>
    </div>
  <!-- 篩選 Modal -->
    <div>
      <%- include('./layout/explore-filter'); -%>
    </div>

    <script type="module" src="../main.js"></script>
    <!-- load the CDN first-->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- If CDN fails to load, serve up the local version -->
    <script>window.JQuery || document.write('<script src="includes/js/jquery-2.1.4.min.js"><\/script>');</script>

<!-- add event -->
    <script>
      $("#add-bookmark-01").click(function(){
      $("#add-explore-01-bookmarkModal").show();
      setTimeout(function(){
          $("#add-explore-01-bookmarkModal").modal('hide');
              setTimeout(function(){
                $("#add-explore-01-bookmarkModal").remove();
          document.getElementById("add-bookmark-01").id = 'del-bookmark-01';
          let el = document.querySelector('.explore-01-bookmark');
            el.setAttribute('data-bs-target','#del-explore-01-bookmarkModal');
            }, 500);
      $('.modal').modal('hide'); 
      $('.modal-backdrop').remove(); 
      }, 1000);
    });
  </script>
  </body>
</html>
