<!DOCTYPE html>
<html lang="zh-Hant" class="new-itinerary-html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AAPD</title>

    <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
  </head>
  <body>
    <div class="new-itinerary container px-0 vh-100 d-flex flex-column bg-box-shadow position-relative">
      <div class="bg-repeat h-100 w-100">
          <div class="bg-itinerary w-100 bg-content position-absolute top-0">
              <header class="text-center d-flex align-items-center">
                  <a class="btn" href="new-index.html" role="button"><img src="../assets/icon/icon24px/back_40.svg" alt="back button"></a>
                  <div class="ms-center-title">
                      <h4 class="fw-bold text-white">新行程</h4>
                  </div>
              </header>
          </div>
          <main class="bg-white rounded-top-4 position-absolute bottom-0 start-0 end-0 form-content overflow-scroll">
  <!-- 請輸入 行程名稱 -->
            <form class="pt-6 h-100 form-content position-relative d-flex flex-column rounded-top-4">
              <div class="px-6">
                <label for="itinerary-name" class="form-label fs-h5 fw-600">行程名稱</label>
                <input type="text" class="form-control rounded-1 mb-6 fs-h5" id="itinerary-name" placeholder="快樂出遊" maxlength="24">
  <!-- 國家森林區域 按鈕 -->
                <label for="itinerary-NationalForestRegion" class="form-label fs-h5 fw-600">國家森林區域</label>
                <a class="btn btn-outline-gray-200 d-flex text-start rounded-1 mb-6 text-gray-400 hover-active" data-bs-toggle="modal" href="#itinerary-modalNationalForestRegion" role="button" id="itinerary-NationalForestRegion">

                <img src="../assets/icon/icon20px/tree.svg" alt="tree svg">
                <span class="fs-h5 ms-2">內洞國家森林遊樂區</span>
                <img class="ms-auto" src="../assets/icon/icon14px/chevron.svg" alt="chevron svg">
                </a>
  <!-- 請選擇 日期 -->
                <label for="itinerary-date" class="form-label fs-h5 fw-600">日期</label>
                <a class="btn btn-outline-gray-200 d-flex text-start rounded-1 mb-6 text-gray-400 hover-active" href="#modalDatePicker" role="button" id="itinerary-date" data-bs-toggle="modal">
                  <img src="../assets/icon/icon20px/calendar.svg" alt="calendar svg">
                  <span class="fs-h5 ms-2">2024/08/10-2024/08/12</span>
                  <img class="ms-auto" src="../assets/icon/icon14px/chevron.svg" alt="chevron svg">
                </a>
  <!-- 請選擇 交通工具 -->
                <label for="itinerary-transportation" class="form-label fs-h5 fw-600">交通工具</label>
                <a class="btn btn-outline-gray-200 d-flex text-start rounded-1 mb-6 text-gray-400 hover-active" data-bs-toggle="modal" href="#modalTransportation" role="button" id="itinerary-transportation">
                  <img src="../assets/icon/icon20px/transportation.svg" alt="transportation svg">
                  <span class="fs-h5 ms-2">汽車</span>
                  <img class="ms-auto" src="../assets/icon/icon14px/chevron.svg" alt="chevron svg">
                </a>
              </div>
            </form>
            <div class="h-overflow-scroll"></div>
        </main>
      </div>
<!-- footer -->
      <footer class="container position-fixed item-border pt-3 pb-2 px-6 mt-auto bottom-0 start-0 end-0 footer-content bg-gray-white">
        <a class="btn btn-primary-600 next-step fs-h4 fw-bold rounded-2 mb-2 d-block" href="map.html" role="button">下一步</a>
      </footer>
    </div>
<!-- Modal 國家森林區域 -->
    <div class="modal-pick-NationalForestRegion">
      <%- include('./layout/itinerary-pick-NationalForestRegion'); -%>
    </div>
<!-- Modal 日期-->
    <div class="modal-datepicker">
      <%- include('./layout/datepicker'); -%>
    </div>
<!-- Modal 交通工具 -->
    <div class="modal-transportation">
      <%- include('./layout/pick-Transportation'); -%>
    </div>
    <script type="module" src="../main.js"></script>
    <script>
      document.querySelectorAll('input').forEach(function(element) {
        element.addEventListener('focus', function() {
            document.querySelector('meta[name="viewport"]').setAttribute('content', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0');
        });
    
        element.addEventListener('blur', function() {
            document.querySelector('meta[name="viewport"]').setAttribute('content', 'width=device-width, initial-scale=1.0');
        });
    });
  </script>
  </body>
</html>
