<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AAPD</title>

    <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
  </head>
  <body>
    <div class="new-itinerary container px-0 vh-100">
        <div class="bg-itinerary w-100 vh-100 d-flex flex-column">
            <header class="text-center d-flex align-items-center">
                <a class="btn" href="new-index.html" role="button"><img src="../assets/icon/icon24px/back_40.svg" alt="back button"></a>
                <div class="ms-center-title">
                    <h4 class="fw-bold text-white">新行程</h4>
                </div>
            </header>
            <main class="bg-white form-content mt-auto rounded-top-4 position-relative">
<!-- 請輸入 行程名稱 -->
                <form class="pt-6 h-100 position-relative d-flex flex-column">
                  <div class="px-6">
                    <label for="itinerary-name" class="form-label fs-h5 fw-600">行程名稱</label>
                    <input type="text" class="form-control rounded-1 mb-6 fs-h5" id="itinerary-name" placeholder="請填寫" maxlength="24">
<!-- 國家森林區域 按鈕 -->
                    <label for="NationalForestRegion" class="form-label fs-h5 fw-600">國家森林區域</label>
                    <a class="btn btn-outline-gray-200 d-flex text-start rounded-1 mb-6 text-gray-400 hover-active" data-bs-toggle="modal" href="#modalNationalForestRegion" role="button" id="NationalForestRegion">

                    <img src="../assets/icon/icon20px/tree.svg" alt="tree svg">
                    <span class="fs-h5 ms-2">已選擇</span>
                    <img class="ms-auto" src="../assets/icon/icon14px/chevron.svg" alt="chevron svg">
                    </a>
<!-- 請選擇 日期 -->
                    <label for="itinerary-date" class="form-label fs-h5 fw-600">日期</label>
                    <a class="btn btn-outline-gray-200 d-flex text-start rounded-1 mb-6 text-gray-400 hover-active" href="#modalDatePicker" role="button" id="itinerary-date" data-bs-toggle="modal">
                      <img src="../assets/icon/icon20px/calendar.svg" alt="calendar svg">
                      <span class="fs-h5 ms-2">已選擇</span>
                      <img class="ms-auto" src="../assets/icon/icon14px/chevron.svg" alt="chevron svg">
                    </a>
<!-- 請選擇 交通工具 -->
                    <label for="itinerary-transportation" class="form-label fs-h5 fw-600">交通工具</label>
                    <a class="btn btn-outline-gray-200 d-flex text-start rounded-1 mb-6 text-gray-400 hover-active" data-bs-toggle="modal" href="#modalTransportation" role="button" id="itinerary-transportation">
                      <img src="../assets/icon/icon20px/transportation.svg" alt="transportation svg">
                      <span class="fs-h5 ms-2">已選擇</span>
                      <img class="ms-auto" src="../assets/icon/icon14px/chevron.svg" alt="chevron svg">
                    </a>
                  </div>
<!-- footer -->
                  <footer class="item-border pt-3 pb-2 px-6 mt-auto bottom-0 w-100">
                    <a class="btn btn-gray-600 next-step fs-h4 fw-bold rounded-2 mb-2 d-block" href="#" role="button">下一步</a>
                  </footer>
                </form>
<!-- Modal 國家森林區域 -->
                <div class="modal-pick-NationalForestRegion">
                    <%- include('./layout/itinerary-pick-NationalForestRegion'); -%>
                </div>
<!-- Modal 日期-->
                <div class="modal-datepicker">
                  <%- include('./layout/datepicker'); -%>
                </div>
<!-- Modal 交通工具 -->
                <div class="modal-transportation">
                  <%- include('./layout/pick-Transportation'); -%>
                </div>
            </main>
        </div>
    </div>

    <script type="module" src="../main.js"></script>
  </body>
</html>
