<!DOCTYPE html>
<html lang="zh-Hant" class="QR-cdoe-html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AAPD</title>

    <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
  </head>
  <body>
    <div class="member container px-0 d-flex flex-column align-items-center h-100">
        <%- include('./layout/ticket',{page:"member-ticket"}); -%>
<!-- 近期票卷 -->
        <div class="px-6 w-100 mt-180px">
            <div class="text-start mb-2">
                <h4 class="fs-h4 fw-600 text-gray-black">近期票卷</h4>
            </div>
<!-- 內洞國家森林遊樂區 -->
            <section class="py-2 px-4 w-100 rounded-2 radius-shadows mb-8">
                <small class="fs-h6 pb-2 border-bottom d-block text-gray-600">使用期限 2024/08/11</small>

                <a href="#QR-codeModal" class="mt-4 d-flex justify-content-between border-0" data-bs-toggle="modal" role="button">
                    <div>
                        <h5 class="text-gray-black fw-bold">內洞國家森林遊樂區</h5>
                        <small class="text-secondary-500 fw-bold fs-h6">一日票券</small>
                    </div>
                    <div class="mt-auto"><span class="fw-bold text-gray-black">$ 300</span></div>
                </a>
            </section>
<!-- 過期票券 -->
            <div class="text-start mb-2">
                <h4 class="fs-h4 fw-600 text-gray-black">過期票券</h4>
            </div>
<!-- 阿里山國家森林遊樂區 -->
            <section class="py-2 px-4 w-100 rounded-2 radius-shadows mb-4">
                <div class="d-flex justify-content-between border-bottom">
                    <small class="fs-h6 pb-2 text-gray-400">使用期限 2024/08/10</small>
                    <span class="fs-h6 text-gray-400">已使用</span>
                </div>
                <div class="mt-4 d-flex justify-content-between">
                    <div>
                        <h5 class="text-gray-400 fw-bold">阿里山國家森林遊樂區</h5>
                        <small class="text-gray-400 fw-bold fs-h6">一日票券</small>
                    </div>
                    <div class="mt-auto"><span class="fw-bold text-gray-400">$ 260</span></div>
                </div>
            </section>
<!-- 東眼山國家森林遊樂區 -->
            <section class="py-2 px-4 w-100 rounded-2 radius-shadows mb-4">
                <div class="d-flex justify-content-between border-bottom">
                    <small class="fs-h6 pb-2 text-gray-400">使用期限 2024/08/10</small>
                    <span class="fs-h6 text-gray-400">已使用</span>
                </div>
                <div class="mt-4 d-flex justify-content-between">
                    <div>
                        <h5 class="text-gray-400 fw-bold">東眼山國家森林遊樂區</h5>
                        <small class="text-gray-400 fw-bold fs-h6">一日票券</small>
                    </div>
                    <div class="mt-auto"><span class="fw-bold text-gray-400">$ 180</span></div>
                </div>
            </section>
        </div>
<!-- Modal QR-code -->
<%- include('./layout/ticket-QRcode',{page:"QRcode"}); -%>

<!-- footer -->
        <div class="w-100 position-fixed bottom-0 start-0 end-0 bg-gray-white">
        <%- include('./layout/footer',{page:"member"}); -%>
        </div>
    </div>

    <script type="module" src="../main.js"></script>

    <!-- load the CDN first-->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- If CDN fails to load, serve up the local version -->
    <script>window.JQuery || document.write('<script src="includes/js/jquery-2.1.4.min.js"><\/script>');</script>
    
  </body>
</html>
